.detail-page {
  display: flex;
  padding: 1rem 2rem;
  gap: 1rem;
  .poster {
    border-radius: 1rem;
    cursor: pointer;
    &:hover {
      opacity: 0.7;
    }
    // height: 420px;
  }
  .detail-content {
    padding: 1rem;
    .detail-title {
      display: flex;
      align-items: center;
      gap: 8px;
      flex-wrap: wrap;
      h2 {
        font-size: 2rem;
        font-weight: bold;
      }
      span {
        font-size: 2rem;
        font-weight: normal;
      }
    }
    .detail-subtitle {
      display: flex;
      gap: 4px;
      margin: 1rem 0.25rem;
      align-items: center;

      .dot {
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: black;
        margin: 0 6px;
      }
    }
    .favorite {
      display: flex;
      align-items: center;
      gap: 1rem;
      padding-left: 0.25rem;

      .favorite-label {
        margin-top: -0.25rem;
        font-style: italic;
        font-weight: bold;
        color: hsl(235deg 100% 67%);
      }
    }
    .tagline {
      margin-top: -0.25rem;
      font-style: italic;
      font-weight: bold;
      color: gray;
    }
    .overview {
      margin: 1rem 0;
      p {
        max-width: 724px;
        width: 100%;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
    .vote {
      width: 89px;
    }

    .video-player {
      margin-top: 0.25rem;
    }
  }
}

@media screen and (max-width: 800px) {
  .detail-page {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    .detail-title {
      justify-content: center;
    }
    .detail-subtitle {
      justify-content: center;
    }
    .favorite {
      justify-content: center;
    }
  }
}
